@import "../../variables";

.ContactUs{

    width: 100%;
  

  
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;

    .section{
    
        border-bottom: 0.01rem solid;

        gap: 1rem;


        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        
        align-items: center;
        gap: 1rem;

        .fluid {
            width: 50px;
            height: 50px;
            object-fit: contain;
            
        }

        figure{

            display: flex;

            align-items: center;
            justify-content: center;

            width: 10px;
            height: 10px;
        }

        .left-quote{
            padding: 1rem;
  
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
        
            text-align: center;

            h1, h3{

                
                margin: 1rem 0;

                color: black;
                font-size: 2.5em;
                font-weight: 700;
                font: "Montserrat";
                
            }

            p{
                width: 100%;
                max-width: 1000px;
                margin: 1rem 0;
            
                font-size: 1.5em;
                color: black;
  
            }
        }


        }

        .centered-quote {
            padding: 1rem;
  
            display: flex;
            align-content: center;

            h1, h3{
                margin: 1rem 0;

                color: black;
                font-size: 2.5em;
                font-weight: 700;
                text-align: left;
                font: "Montserrat";
            }

            p{
                width: 100%;
                max-width: 1000px;
                margin: 1rem 0;
            
                font-size: 1.5em;
                color: black;
  
            }
        }

        .container{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch; 
            align-content: stretch;
    
            gap: 1.5rem;
    
            padding: 3rem 0rem;
        
        
    
            
            .team-card{
                height: 300px;
                width: 250px;
                
    
              padding: 1rem;
    
              display: flex;
              flex: 1 1 400px;
    
            
    
              flex-direction: column;
              justify-content: center;
              align-items: center;
    
              align-items: center;
              gap: 5rem;
    
              border:4px black;
              border-radius: 1rem;
    
              transition: all 0.75s ease-in-out;
    
              background-color: $--main-blue;
    
              &:hover{
                transform: scale(1.02);
                cursor: pointer;
              }
    
              h3{
                font: "Montserrat";
                font-weight:600;
              }

              figure{

                display: flex;
                justify-content: center;
                align-items: center;


                img{
                    
                    object-fit: contain;
                    height: 14rem;
                }
              }
                
                
              
    
        }
          


    }
}